html
{
    background-color: rgb(255, 198, 40);
}

body
{
    width: 800px;
    margin: 0 auto;
    background-color: pink;
    border: 1px solid black;
}

h1
{
    text-align: center;
    margin: 0;
}

.subs
{
    font-size: 22px;
}

ol, ul, .ol, .oli
{
    font-size: 17px;
}

.Fp
{
    text-align: center;
    margin: 0;
    font-size: 17px;
}

.ol
{
    line-height: 3px;
    letter-spacing: 1px;
}

.left
{
    margin-left: 15px;
}

a
{
    text-decoration: none;
}

button
{
    width: 395px;
    height: 75px;
    background-color: salmon;
    margin-left: 205px;
    margin-top: 120px;
    border-radius: 32px;
    font-size: 32px;
    color: white;
}

.andli
{
    background-color: rgb(255, 198, 40);
    font-weight: bold;
}